.button {
	appearance: none;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	cursor: pointer;
	height: 44px;
	width: 44px;
	padding: 0;
	position: relative;
	outline: none;
}

.line {
	display: block;
	left: 50%;
	height: 3px;
	width: 24px;
	position: absolute;
	transform: translateX(-50%);
	transform-origin: center;
	transition: $offcanvas-transition-dur background-color ease-in-out,
		$offcanvas-transition-dur opacity ease-in-out,
		$offcanvas-transition-dur transform ease-in-out;
	@media(min-width: 768px) {
		width: 35px;
	}
	&:nth-child(1) {
		top: 12px;
		@media(min-width: 768px) {
			top: 9px;
		}
	}
	&:nth-child(2),
	&:nth-child(3) {
		top: 50%;
	}
	&:nth-child(4) {
		bottom: 12px;
		@media(min-width: 768px) {
			bottom: 9px;
		}
	}
}