.button {
	appearance: none;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	height: 44px;
	width: 44px;
	position: relative;
}

.iconLine {
	display: block;
	height: 5px;
	width: 35px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	transform-origin: center;
	transition-duration: .3s;
	transition-property: opacity, transform;
	&:nth-child(1) {
		top: 9px;
	}
	&:nth-child(2),
	&:nth-child(3) {
		top: 50%;
	}
	&:nth-child(4) {
		bottom: 9px;
	}
}