.offcanvas {
	background-color: rgba(255, 113, 0, .9);
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: $offcanvas-transition-dur opacity ease-in-out,
		$offcanvas-transition-dur transform ease-in-out,
		$offcanvas-transition-dur visibility ease-in-out;
	z-index: 100;
}